/* #root {
    display: block;
    padding: 20px;
    background-color: #f0f0f0;
} */

body {
    font-family: "Inter";
    margin: 0;
    box-sizing: border-box;
    min-width: 340px;
}

/* Title */

.title {
    font-weight: bold;
    font-size: 3rem;
    text-decoration: underline;
    margin-top: 1rem;
}

.title>span {
    font-weight: lighter;
}

.title:hover,
.fa-solid:hover {
    cursor: pointer;
}

/* Hamburger Icon */

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.hamburger .bar {
    width: 100%;
    height: 4px;
    background-color: #000;
    transition: all 0.4s ease-in-out;
}

/* Animation for the Hamburger Icon */
.hamburger.active .bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: none;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 20px;
    margin-bottom: -1rem;
    background-color: #f6f6f6;
}

/* Nav */

nav {
    display: block;
    height: 100vh;
    background-color: #121212;
    color: #f6f6f6;
    width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.8s ease-in-out;
    transform: translateX(-100%);
    font-size: 1.7rem;
    z-index: 1000;
    padding-top: 2rem;
}

nav.show {
    transform: translateX(0);
}

li {
    list-style-type: none;
    text-decoration: none;
    margin: 2rem;
    font-weight: 600;
    margin-left: 0.5rem;
}

li:hover,
#language:hover {
    cursor: pointer;
    color: #19cb1f;
    transition: 0.5s;
}

#language {
    font-size: 1.7rem;
    position: absolute;
    bottom: 4rem;
    margin-left: 0.5rem;
}

/* Main */

main {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 30rem;
    margin: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/header-img.png");
    background-size: cover;
    /* border-radius: 40px 40px 0 0; */
    border-radius: 0 0 40px 40px;
}

main>h2 {
    color: #f5f5f5;
    font-size: 2rem;
    margin-left: 1rem;
}

main>h2>span {
    color: #19cb1f;
}

/* Logo Carousel */
.logo-carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    height: 8rem;
    background-color: #ffffff;
    z-index: 1;
}

.logo-carousel .logo-track {
    display: flex;
    animation: scroll 30s linear infinite;
    /* Animation for sliding */
}

.logo-carousel img {
    height: 80px;
    /* Adjust height as needed */
    margin: 0 40px;
    /* Increase margin to separate logos more */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Search Section */

#search-section {
    background-color: #0f0f0f;
    border-radius: 35px 35px 0 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

#search-section>h2 {
    color: #fafafa;
    font-size: 1.7rem;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-field {
    border-radius: 7px;
    border: none;
    padding: 1.1rem;
    width: 20rem;
    height: 3rem;
    font-size: 16px;
    margin-bottom: 0.8rem;
    background-color: #f5f5f5;
}

.search-btn {
    background-color: #f4f4f4;
    color: black;
    border-radius: 7px;
    padding: 0.5rem;
    border: none;
    font-weight: bold;
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
}

.search-field:hover {
    background-color: #e0e0e0;
}

.search-btn:hover {
    cursor: pointer;
    background-color: #d5d5d5;
    color: black;
    transition: 0.5s;
}

.scroll-smooth {
    scroll-behavior: smooth;
    transition: scroll-behavior 3s ease-in-out;
}

/* Result Card */

.result-card {
    display: flex;
    align-items: center;
    padding-left: 4.5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-size: 1.2rem;
    border-radius: 30px;
    margin-top: -25px;
    background-color: #ffffff;
}

.restaurant-logo {
    width: 6rem;
    padding-right: 1.5rem;
}

.result-card>h3:hover,
.restaurant-logo:hover {
    cursor: pointer;
}

/* Menu items card */

#items-section {
    margin-top: -3rem;
}

.menu-items-card {
    padding-left: 1rem;

}

.food:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 1s;
}

/* .food-details {
    display: none;
    padding-left: 2rem;
}

.food-details.show {
    display: block;
} */

.food-details {
    display: none;
    padding-left: 2rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.food-details.show {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

/* Socials */

.socials {
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    margin-top: -2.1rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.7rem;
    border-radius: 40px;
}

.socials>i:hover {
    cursor: pointer;
    transform: translateY(-5%);
    transition: 0.4s;
    color: #272727;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}

/* Desktop */

@media(min-width: 900px) {
    #hamburger {
        display: none;
    }

    nav {
        display: block;
        color: black;
        border: 2px solid red;
    }

    #desktop-section2 {
        display: flex;
        flex-direction: row;
        height: 30rem;
    }

    #main-section {
        width: 100%;
        height: 30rem;
        border-radius: 0;
    }

    main>h2 {
        width: 26rem;
        font-size: 3rem;
    }

    #search-section {
        width: 100%;
        height: 30rem;
        border-radius: 0;
    }

    #search-section>h2 {
        font-size: 2.2rem;
    }

    #logo-carousel {
        display: none;
    }

    #result-card {
        margin-top: 3rem;
    }
}